.text{ color: rgb(205, 214, 244); }
.text{ color:#cdd6f4; }
.red{ color:#f38ba8; }
.lavender{ color:#b4befe; }
.blue{ color:#89b4fa; }
.maroon{ color:#eba0ac; }
.mauve{ color:#cba6f7; }
.rosewater{ color:#f5e0dc; }